html,
body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

dialog {
	max-width: 600px;
}

dialog.zoom-in {
	animation-name: zoom-in;
	animation-duration: 0.6s;
}

dialog.slide-in {
	animation-name: slide-in;
	animation-duration: 0.6s;
}

dialog.fade-in {
	animation-name: fade-in;
	animation-duration: 0.6s;
}

@keyframes slide-in {
	from {
		transform: translatey(100%);
		opacity: 0;
	}
	to {
		transform: translatey(0);
		opacity: 1;
	}
}

@keyframes zoom-in {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
