body{
    margin: 0;
    padding: 0;
    background: url(../image/background.jpg) center center fixed;
    background-size:cover ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 




.back-menu{
  width: 100%;
  height:120px;
  margin:0;
  position: fixed;
  z-index: 9999999999999999999999999;

}
.back-menu-center{
  width: 100%;
  height:140px;
  margin: 0 auto;
  /* background-color: chartreuse; */
  display: flex;
  flex-wrap: nowrap;
}
.logo{
  width:22%;
  height:100%;
  /* background-color: chocolate; */
  left:0;
  overflow: hidden;
  display: flex;
}
.logo-link{
  color: #fff;
  font-size: 17px;
  font-weight: 800px;
  text-decoration: none;
}
.logo-link img{
  width:100px;
}
.logo-link:nth-child(2){
  position: relative;
  top: 32%;
  left: 5%; 
}
.menu-items{
  /* background-color: red; */
  height:70px;
  width: 100%;
  align-items: center;
  display: flex;
  top: 50px;
  position: relative;
}
.menu-items ul{
  list-style: none;
  display: flex;
  margin-left: -180px;
  margin-top: -40px;
}
.menu-items li{
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
li[class^="menu-item-"] a{
  margin:12px 22px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
li[class^="menu-item-"] a:hover{
  color: #bfa279!important;
}
.menu-item-1 a{
  color:white!important;
}
#s a::after{
  background: none repeat scroll 0 0 transparent;
  top: -1px;
  content: "";
  display: block;
  height: 2px;
  left: 70%;
  position: absolute;
  background: #bfa279;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#s a:hover::after{
  width: 100%; 
  left: 0; 
}


.menu-register{
  position: absolute;
  top:0;
  right:0;
  /* background-color: cornflowerblue; */
  margin:7px;
}
.register{
  color: #fff;
  text-decoration: none;
  margin:8px;
}
.register:hover{
  color: #dc18ff!important;
}
.toggle-menu{
  transform: translateX(10%) translateY(100%);
  display: none;
}
.toggle-icon{
  font-size:30px;
  background-color: #fff;
  padding:10px;
  border-radius: 3px;
  cursor: pointer;
}
.toggle-items{
  list-style: none;
  background-color:#351630;
  width:100%;
  margin-left: -50px;
  line-height:57px;
  position: absolute;
  display: none;
  border-radius: 5px;
  height: 700px;
background-image: url(../image/bg3.jpg)  ;
object-fit: cover;
  
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
    
  
  }
  .toggle-items ul li{
text-align: center;    }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}

li[class^="toggle-item-"] a{
  color: #fff;
  text-decoration: none;
  font-weight: lighter;  
  margin-left: 160px;
  
}
li[class^="toggle-item-"] a:hover{
  color: #454146!important;
}
.toggle-item-1 a{
  color:white!important;
}
#toggle-btn{
  display: none;
}
#toggle-btn i{
  background-color: #bfa279;
  
}
#toggle-btn:checked +ul{
  display: block;
   
}
@media screen and (max-width:953px) {
  .toggle-menu{
     display: block; 
  }
 
  
  .back-menu-center{
      display: none;

  }
 

  
 
}
@media screen and (min-width:953px) {
  .toggle-menu{
     display: none; 
  }
  
 

}

#img1{
  margin-top: 200px;
}
#img1 img{

height: 120%;
}
.back-menu img{
  width: 100%;
    object-fit: cover;
    z-index: 900;
    margin-top: 30px;
    
  }
  .bg-gold{
    color: #bfa279;
  }
  .toggle-menu img{
    margin-top: 2px;
    width: 75%;
  
  }
  .back-menu-center img{
    margin-left: 50px;
  
  }
  .active{
    height: 20px;
    border-top: solid 2px #fff;margin-top: 10px;color: #bfa279;
  }
  .toggle-menu img{
    object-fit: cover;
  
  }





  form {
    padding-left:25px;
    padding-right:25px;
    padding-top:60px;
    position:relative;
    z-index:1;
    width: 100%;
    border: none;
    margin-top: -20px;
  }
  
  form > div{
    position:absolute;
    top:0;
    left:50%;
    padding:0 20px;
    transform:translate(-50%,-50%);
    background-color:black;
    border-radius: 20px;
    text-align:center;
  }
  
  form > div > img{
    filter:invert(1);
    width:100px;
  }
  
  form > input,
  form > textarea {
    padding: 12px;
    margin: 23px auto;
    color: #ddd;
    display: block;
    width: 70vw;
    background: none;
    border: none;
    border-bottom: 3px white solid;
    
  }
  
  form > textarea{
    height:100px;
    resize:none;
  }
  
  form > input[type="submit"] {
    max-width: 20vw;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.35s;
    margin-left: 300px;
  }

  #formm{
    box-sizing: border-box;
    padding-top: 240px;
  }
  #formm p{
    color: #fff;font-size: 22px;
  }
  #formm h1{
    color: #fff;
  }
  /* Extra small devices (phones, 600px and down) */


