body{
    margin: 0;
    padding: 0;
    background: url(../image/background.jpg) center center fixed;
    background-size:cover ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 


  #rezerv1{
	padding-top: 200px;
}